<!DOCTYPE html>
<html lang="en">

  <head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Currency Converter</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous">
    {% endblock %}
  </head>

  <body>
    <header>
      <h1 class="display-2">The Forex Converter!</h1>
      <p class="lead">Enter the currency codes and amount then click convert to get your new amount!
      </p>
    </header>

    <div class="container">
      <div class="form">
        {% for msg in get_flashed_messages() %}
        <div class="message text-center bg-danger bg-opacity-75 rounded-3">
          <p>{{msg}}</p>
        </div>
        {%endfor%}
        <form class="row mb-3" method="POST">
          <label for="from-currency">Convert From:</label>
          <input type="text" name="from-currency" id="from-currency"
            placeholder="Enter Currencey Code" maxlength="3">
          <label for="to-currency">Convert To:</label>
          <input type="text" name="to-currency" id="to-currency" placeholder="Enter Currencey Code"
            maxlength="3">
          <label for="amount">Amount to convert:</label>
          <input type="text" name="amount" id="amount" placeholder="Amount">
          <button type="submit" class="btn btn-success w-25 mt-2">CONVERT!</button>
        </form>
        <div class="text-center">
          <p class="blockquote converted-amount"> Your converted amount is: {{ output_data }} </p>
        </div>
      </div>
    </div>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"></script>
  </body>

</html>